html{
    background-color: #2f365f;
}

.div-login{
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    margin: 0 auto;
    margin-top: 200px;
    width: 400px;
    height: 210px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.actions{
    padding-top: 10px;
    float: right;
}
